* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ccc;
}
.movielist {
  /* width: 90vw; */
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 760px) {
  .movielist {
    grid-template-columns: repeat(3, 1fr);
  }
}

.movie {
  background: #ffd;
  border-radius: 1rem;
  padding: 1rem 2rem;
}
.button {
  background-color: blue;
  color: white;
  margin: 10px;
  padding: 10px;
}

.para {
  font-size: large;
  margin: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.fruits {
  background-color: aliceblue;
  padding: 5px;
}

.avatar {
  background-color: bisque;
  width: 800px;
  padding: 40px;
  margin: 20px 60px;
  border: 2px solid whitesmoke;
  border-radius: 50px;
}

.car {
  background-color: aquamarine;
  color: aliceblue;
  padding: 20px;
  text-align: center;
  width: 500px;
  margin: 10px;
  border-radius: 15px;
}

.cardiv {
  max-width: 600px;
  width: 100px;
  margin: 40px;
}

.form-container {
  max-width: 600px;
  padding: 25px;
  width: 100px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  max-width: 200px;
  width: 400px;
  margin: 10px 0;
}

.submit {
  background-color: green;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 10px 10px;
  cursor: pointer;
  max-width: 200px;
  width: 400px;
}
.dbase {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Navigate {
  background-color: orange;
  color: black;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
}
.navigation {
  margin: 20px auto;
}
.pagestyle {
  border: 1px solid black;
  width: 300px;
}
.space {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 100px;
  color: green;
  background-color: white;
}
.auth-title {
  font-size: 25px;
}

.main_add {
  background-color: rgb(181, 247, 181);
  width: 200px;
  padding: 40px;
  margin: 5px 30px;
  border: 2px solid black;
  border-radius: 25px;
}
