*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.movielist{
    /* width: 90vw; */
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}

@media screen and (min-width:760px){
    .movielist{
        grid-template-columns: repeat(3, 1fr);
    }
}

.movie{
    background: #ffd;
    border-radius: 1rem;
    padding:1rem 2rem;
}
.button{
    background-color: blue;
    color: white;
    margin:10px;
    padding: 10px;
}

.para{
    font-size: large;
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fruits{
background-color: aliceblue;
padding: 5px;
}