*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.movielist{
    /* width: 90vw; */
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}

@media screen and (min-width:760px){
    .movielist{
        grid-template-columns: repeat(3, 1fr);
    }
}

.movie{
    background: #ffd;
    border-radius: 1rem;
    padding:1rem 2rem;
}